*_checkpoints
*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build/*
.DS_Store
*.R
*.csv
*.ipynb
*.log
*.m
*.RAW
*.zip
data
*.bak
*.sw?
*.tmp
tmp/
*~
*.vscode
src/descriptors/validation_config.*
docs/src/man/data_requirements_table.md
/docs/Manifest.toml
