## Documentation: http://docs.travis-ci.org/user/languages/julia/
language: julia
os:
  - linux
  - osx
  - windows
julia:
  - 1.3
  - nightly

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
notifications:
  email: false

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

jobs:
  fast_finish: true
  allow_failures:
    - julia: nightly
    - os: osx
after_success: julia -e '
  using Pkg;
  Pkg.add("Coverage");
  using Coverage;
  Codecov.submit(process_folder());'
